force-app/main/default/flows/Process_IDonate_Integraid_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_IDonate_Donation_Request_Body</name>
        <label>Get IDonate Donation Request Body</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>GetIDonateDonationBodyInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Donation_Request_Body_Exists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bodies</name>
            <value>
                <elementReference>$Record.enc_int__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetIDonateDonationBodyInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Donation_Request_Body_Exists</name>
        <label>Donation Request Body Exists</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Donation_Request_Body_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IDonate_Donation_Request_Body.donation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process IDonate Integraid Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process IDonate Integraid Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_IDonate_Donation_Request_Body.donation.donorLname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_IDonate_Donation_Request_Body.donation.donorLname</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enc_int__Matched_Endpoint__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDonate_Donation</stringValue>
            </value>
        </filters>
        <object>enc_int__Request_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_IDonate_Donation_Request_Body</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
